@use "../../css/colors";

$box-shadow: var(--projects-box-shadow);
$translate-length: 2px;

a {
    text-decoration: none;
}

#projects-content {
    column-count: 2;
    column-gap: 1.5rem;
    // display: flex;
    // flex-wrap: wrap;
}

.project {
    padding: 1rem;
    border: 1px solid var(--projects-border);
    border-radius: 5px;
    box-shadow: 0.3rem 0.3rem 0.5rem $box-shadow, -0.3rem 0.3rem 0.5rem $box-shadow;
    transition: transform 200ms, box-shadow 200ms;

    &:hover {
        box-shadow: 0.6rem 0.6rem 0.5rem $box-shadow, -0.6rem 0.6rem 0.5rem $box-shadow;
        transform: translateY(-$translate-length);
    }

    // & + & {
    //     margin-left: 0.8rem;
    // }

    &-container {
        display: inline-block;
        width: 100%;
        // flex-grow: 0;
        // flex-shrink: 0;
        // flex-basis: 50%;
        // align-self: flex-start;
        margin-bottom: 2rem;
        margin-top: $translate-length;
    }

    &-name {
        margin-bottom: 0.6rem;
        font-weight: 500;
        color: var(--projects-name);
    }

    &-description {
        margin-bottom: 1rem;
        color: var(--projects-description);
    }

    &-links {
        margin-bottom: 1rem;
    }

    &-link {
        display: inline-block;
        padding: 0.625rem;
        color: var(--projects-links-text);
        border: 1px solid var(--projects-links-border);
        border-radius: 5px;

        &:not(:last-child) {
            margin-right: 1rem;
        }

        &:hover {
            background-color: var(--projects-links-hover-background);
            color: var(--projects-links-hover-text);
            transition: background-color 300ms, color 100ms;
        }
    }

    > hr {
        margin-bottom: 1rem;
        border-color: var(--projects-divider);
    }

    &-languages {
        margin-bottom: 0.5rem;
    }

    &-language {
        border-radius: 3px;
        font-size: 0.8rem;
        font-weight: 300;
        font-family: "Fira Code", monospace;
        line-height: 1.5rem;
        color: var(--projects-languages);

        &:not(:last-child) {
            margin-right: 0.6rem;
        }
    }

    &-stars {
        display: inline-block;
        margin-right: 0.7rem;
        color: var(--projects-stars-text);

        &-count {
            display: inline-block;
            padding: 3px;
            border-radius: 3px;
            background-color: var(--projects-stars-count-background);
            color: var(--projects-stars-count);
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;
    }

    &-updated-at {
        color: var(--projects-updated-at);
    }
}

.fa-star {
    margin-right: 0.3rem;
    color: var(--projects-stars-icon);
}

.loading {
    height: 8rem;
    border-radius: 5px;
}
