<div id="projects-content">
    <div class="project-container" *ngFor="let repo$ of githubRepos$; index as i">
        <div class="project" *ngIf="repo$ | async as repo; else loading">
            <h3 class="project-name">{{repo.name}}</h3>
            <p class="project-description" *ngIf="repo.description">{{repo.description}}</p>
            <div class="project-links">
                <a class="project-link" href={{repo.downloadUrl}}>
                    <i class="fab fa-github"></i>
                    Download Repo
                </a>
                <a class="project-link" target="_blank" href={{repo.repoUrl}}>
                    <i class="fab fa-github"></i>
                    Repo
                </a>
            </div>
            <hr>
            <ng-container *ngIf="(repo.languages | keyvalue)?.length">
                <div class="project-languages">
                    <span class="project-language"
                        *ngFor="let language of repo.languages | keyvalue: dummyFunctionToPreserveOrder">
                        {{language.key}}: {{language.value}}%
                    </span>
                </div>
            </ng-container>
            <div>
                <!--extra div wrapping is so the border of project-stars-count doesn't overflow out of project-footer div-->
                <div class="project-footer">
                    <a class="project-stars" target="_blank" href={{repo.stargazersUrl}}>
                        <i class="fas fa-star"></i>
                        <span>Stars&nbsp;</span>
                        <span class="project-stars-count">{{repo.stargazersCount}}</span>
                    </a>
                    <ng-container>
                        <a target="_blank" href={{repo.latestCommitUrl}} *ngIf="repo.latestCommitUrl">
                            <small class="project-updated-at">Updated at {{repo.updatedAt | date: 'longDate'}}</small>
                        </a>
                        <ng-template #noLatestCommit>
                            <small class="project-updated-at">Updated at {{repo.updatedAt | date: 'longDate'}}</small>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
        </div>
        <ng-template #loading>
            <div class="project">
                <div class="loading" [style.height.rem]="randomHeights[i]"></div>
            </div>
        </ng-template>
    </div>
</div>