<nav>
    <a href="#intro" title="Intro" aria-label="Intro">
        <i class="fas fa-home"></i>
    </a>
    <a href="#skills" title="Skills" aria-label="Skills">
        <i class="fas fa-paint-brush"></i>
    </a>
    <a href="#experience" title="Experience" aria-label="Experience">
        <i class="fas fa-briefcase"></i>
    </a>
    <a href="#projects" title="Projects" aria-label="Projects">
        <i class="fas fa-project-diagram"></i>
    </a>
    <a href="#about-me" title="About Me" aria-label="About Me">
        <i class="fas fa-info-circle"></i>
    </a>
</nav>


<!-- <nav>
    <div id="nav-links">
        <input type="radio" id="radio-intro" class="nav-radio" name="nav" checked>
        <label class="navtab" for="radio-intro">
            <a href="#intro">&#123;&nbsp;&nbsp;Edgar;&nbsp;&nbsp;&#125;</a>
        </label>
        <input type="radio" id="radio-skills" class="nav-radio" name="nav">
        <label class="navtab" for="radio-skills">
            <a href="#skills">Skills</a>
        </label>
        <input type="radio" id="radio-experience" class="nav-radio" name="nav">
        <label class="navtab" for="radio-experience">
            <a href="#experience">Experience</a>
        </label>
        <input type="radio" id="radio-projects" class="nav-radio" name="nav">
        <label class="navtab" for="radio-projects">
            <a href="#projects">Projects</a>
        </label>
        <input type="radio" id="radio-about-me" class="nav-radio" name="nav">
        <label class="navtab" for="radio-about-me">
            <a href="#about-me">About Me</a>
        </label> -->
<!-- <div id="nav-links-glider" #navLinksGlider></div> -->
<!-- </div>
</nav> -->