$nav-tab-border-width: 1px;

.skills-content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 2.5rem;
    row-gap: 2rem;
    column-gap: 5rem;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
}

.navtab {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-bottom: $nav-tab-border-width solid var(--skills-tab-border);
    border-top-left-radius: 0.25rem; //to eliminate the corners from going from sharp to rounded during transition
    border-top-right-radius: 0.25rem;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    flex-grow: 1;
    flex-basis: 0; //make navtabs same width as each other
    cursor: pointer;
    transition: all 250ms;
    color: var(--skills-tab-unfocused);

    &:hover,
    &-active {
        border: $nav-tab-border-width solid var(--skills-tab-border);
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        box-shadow: 3px -3px 4px -2px var(--skills-tab-box-shadow), -3px -3px 4px -2px var(--skills-tab-box-shadow);
        color: var(--skills-tab-focused);
    }

    &-active#{&}:hover {
        border-bottom-color: transparent;
    }

    &-active {
        border-bottom-color: transparent;
        cursor: auto;
    }
}

.skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: var(--skills-name);
    // border-width: 1px;
    // border-style: solid;
    // border-color: colors.$mischka;
    // border-radius: 0.2rem;
    // box-shadow: 0.1rem 0.1rem 0.5rem colors.$picked-bluewood;

    > img {
        // height: 5rem;
        margin-bottom: 1rem;
    }

    > h3 {
        font-weight: normal;
    }
}
