<div id="intro">
    <div id="content">
        <div id="title">
            <h1 id="name">Edgar Chang</h1>
            <p id="description">Junior Software Engineer</p>
        </div>
        <div id="links">
            <a target="_blank" href="https://github.com/MeLikeChoco" aria-label="Github">
                <i class="fab fa-github"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/edgar-chang-a40a05159/" aria-label="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</div>