@use "sass:color";

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: var(--intro-background-image);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    // background-position: center center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--intro-background-color);
    }
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    > p {
        font-size: 1.8rem;
    }
}

#name {
    position: relative;
    margin-bottom: 0.2rem;
    font-weight: 500;
    font-size: 4rem;
    font-family: "Fira Code", monospace;
    color: var(--intro-title);
    // white-space: nowrap;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 3px;
        animation: blinking-caret 700ms infinite;
        // animation-timing-function: step-end; //for a more "blinky" cursor that doesn't fade in and out
    }
}

#description {
    color: var(--intro-subtitle);
}

@keyframes blinking-caret {
    from,
    to {
        background-color: transparent;
    }

    50% {
        background-color: var(--intro-title-blinking-caret);
    }
}

#links {
    display: flex;
    justify-content: center;

    > a {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
}

i {
    font-size: 3rem;
    color: var(--intro-links);

    &:hover {
        color: var(--intro-links-hover);
        transition: color 300ms ease;
    }
}
