$picked-bluewood: #2d384c;
$mischka: #dbd6e3;
$polo-blue: #7da7d2;
$ship-cove: #6384b6;
$east-bay: #455b82;
$firefly: #050e16;
$mirage: #1a2136;
$oxford-blue: #333c51;
$elm: #1d7074;
$cardinal: #cb2036;
$waikawa-gray: #606c96;
$gigas: #543a8c;
$di-serria: #DCA652;

$slightly-dark-east-bay: #242c3c;
$dark-east-bay: #1c2434;
